body {background-image: url('images/mcuintro.gif') ;
	    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
h1{
text-align:center;}

#main{
	position:absolute;
    left: 40%;
}
#p1{
	display:block;

	  -webkit-transition:-webkit-transform 500ms;
}

#p1:hover{
-webkit-transform: scale(1.5);
}
