#mainbody{
	background-image:url('phase1/backgroundp1.gif');
	background-size:cover;

}
h1{
text-align:center;}
* {
    box-sizing: border-box;
}

#main {
    display: flex;
}

#p1{
    flex: 33.33%;
    margin: 55px;
	-webkit-transition:-webkit-transform 500ms;
}
#p1:hover{
-webkit-transform: scale(1.5);
}
#mainbody p1:hover{
	background-image:url('phase1/im1.jpg');
}
#main1 {
    display: flex;
	
}
#p2{
    flex: 33.33%;
    margin: 55px;
	-webkit-transition:-webkit-transform 500ms;
}
#p2:hover{
	-webkit-transform:scale(1.5);
	
}
